@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #f43f5e 21.43%,
    #7A202F 50.63%,
    #3B0F16 100%,
    #FA4160 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px #dc2626;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #FA4160 21.43%,
    #dc2626 50.63%,
    #7A202F 100%,
    #f43f5e 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ef4444 21.43%,
    #dc2626 50.63%,
    #f87171 100%,
    #ef4444 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#ef4444] to-[#dc2626] font-bold font-primary hover:from-[#dc2626] hover:to-[#f87171];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
